@media (max-width: 1399px){

	
}
@media (max-width: 1199px){
	.container {
    	width: 920px;
	}
	nav ul li a {
    font-size: 18px;
	}

	.logo {
    padding: 25px;
	}

	.banner-content h4 {
    font-size: 18px;
	}
	p {
    font-size: 15px;
    }

    h1 {
    font-size: 45px;
	}

	.button {
    font-size: 18px;
	}

	.feature {
    padding: 19px;
	}

	.feature p {
    font-size: 15px;
	}

	.feature h3 {
	   font-size: 18px;
    	}
    .course ul li {
    font-size: 18px;
	}
	.course span {
    font-size: 18px;
	}

	.client-content p {
    font-size: 14px;
    line-height: 1.8;
	}
	.client-image {
    padding: 10px;
	}
}
@media (max-width: 991px){
	.container {
    width: 720px;
	}
	.banner-content h4 {
    font-size: 14px;
    font-weight: 700;
	}
	h1 {
    font-size: 34px;
    font-weight: 700;
	}
	p {
    font-size: 13px;
	}
	.button {
    font-size: 12px;
    font-weight: 700;
	}
	nav ul li a {
    font-size: 12px;
    font-weight: 700;
	}
	.container {
    align-items: center;
	}

	.logo {
    padding: 10px;
	}
	.feature p {
    font-size: 13px;
    font-weight: 500;
	}
	.feature h3 {
    font-size: 14px;
	}
	.feature img {
    height: 70px;
	}
	.feature {
    padding: 15px;
	}
	.col-4 {
    padding: 15px;
	}
	.course ul li {
    font-size: 13px;
    font-weight: 700;
	}
	.course h3 {
    font-size: 15px;
    font-weight: 700;
	}
	.course span {
    font-size: 14px;
    font-weight: 500;
	}
	.course a {
    font-size: 10px !important;
	}
	.heading h2 {
    font-size: 22px;
    margin: 20px 0px;
	}
	header {
    padding: 0;
	}
	.client-image {
    padding: 5px;
	}
	.client-content p {
    font-size: 12px;
    font-weight: 500;
	}
	.col-4 {
    line-height: 1.8;
	}
	.copyright {
     padding-top: 55px;
	}
	footer p {
    font-size: 12px;
	}
}
@media (max-width: 767px){
	.container {
    width: 469px;
	}
	.logo {
    padding: 0 20px;
	}
	.logo {
    width: 50%;
    margin: auto;
	}
	.flex {
    justify-content: center;
	}
	nav ul li a {
    font-size: 14px;
    font-weight: 700;
	}
	nav {
    padding: 25px;
    width: 100%;
	}
	.banner-image {
    width: 100%;
    padding: 10px 45px;
    order: 0;
	}
	.banner-content {
    width: 100%;
    padding: 40px;
    order: 1;
    margin: auto;
    text-align: center;
	}
	h1 {
    font-size: 30px;
	}
	p {
    font-size: 12px;
    font-weight: 600;
	}
	.col-4 {
    width: 50%;
	}
	.col-3 {
    width: 49.33%;
	}
	.course {
    text-align: center;
	}
	.course ul li:last-child {
		display: none;
	}
	.course ul {
    justify-content: center;
	}
	.client-content {
    width: 100%;
    text-align: center;
    order: 1;
	}
	.client-image {
    width: 40%;
    order: 0;
}
}
@media (max-width: 575px){
	.container {
    width: 453px;
	}

	.banner-image {
    width: 85%;
    padding: 0 45px;
    order: 0;
	}
	h1 {
    font-size: 25px;
	}
	p {
    font-size: 11px;
	}
	.col-4 {
    width: 100%;
	}
	.feature img {
    height: 100px;
	}
	.feature h3 {
    font-size: 22px;
	}
	.feature p {
    font-size: 20px;
    font-weight: 500;
}
.col-3 {
    width: 100%;
}
	.course a {
    font-size: 18px !important;
}

.course span {
    font-size: 20px;
    font-weight: 500;
}
.course h3 {
    font-size: 22px;
    font-weight: 700;
}
.course a {
    font-size: 18px !important;
}
.col-4 {
   
    text-align: center;
}
.course a {
    font-size: 18px !important;
    font-weight: 400;
}
.course ul li {
    font-size: 18px;
    font-weight: 400;
}
}
@media (max-width: 499px){

}
